<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0px;
            margin: 0px;
        }
        #indexmainid{
          
          background: linear-gradient(135deg,#7b5b4a,#c6b2a6);
        }
        #indexdivid1{   
            height: 300px;
            width: 100%;
            background-color: rgba(0,0,0,0);
            border:2px solid black;
            display: flex;
            flex-direction: row;
        }
        #indexdivid1o1{
            border-radius: 5%;
            background-image: url(../images/pexels-fotios-photos-1402407.jpg);
            background-size: 50%;
            height: 300px;
            width: 30%;
        }
        #indexdivid1o2{
           height: 300px;
           width: 70%;
           text-align: center;
        }
        .trash1{
            height: 30px;
            width: 100%;
            background-color: rgba(0,0,0,0);
        }
        .trash2{
            height: 50px;
            width: 100%;
            background-color: white; 
        }
        #indexdivid2{
            height: 300px;
            width: 100%;
            background-color: rgba(0,0,0,0);
            border:2px solid black;
            display: flex;
            flex-direction: row;
        }
        #indexdivid2o2{
           height: 300px;
           width: 70%;
           text-align: center;
        }
        #indexdivid2o1{
            border-radius: 5%;
            background-image: url("https://plus.unsplash.com/premium_photo-1683910767532-3a25b821f7ae?q=80&w=508&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            background-size: cover;
            height: 300px;
            width: 30%;
        }
        #indexdivid3{
            height: 300px;
            width: 100%;
            background-color: rgba(0,0,0,0);
            border:2px solid black;
            display: flex;
            flex-direction: row; 
        }
        #indexdivid3o1{
            border-radius: 5%;
            background-image: url("https://plus.unsplash.com/premium_photo-1683910767532-3a25b821f7ae?q=80&w=508&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
             background-size: cover;
             height: 300px;
             width: 30%;
        }
        #indexdivid3o2{
           height: 300px;
           width: 70%;
           text-align: center;
        }
 






#navbar1{
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
}







#indexfooterid{
    height: 500px;
    width: 100%;
    background-color: cornflowerblue;
    
}
#footerimg1{
    position: relative;
    top: 10%;
    left: 10%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
   
 
}











    </style>
</head>
<body>
<header id="indexheaderid">
    <div id="navbar1">

    </div>
</header>












<main id="indexmainid">
    <div class="trash2"></div>
    <div class="trash1"></div>
    <div id="indexdivid1">
        
        <div id="indexdivid1o1"></div>
        <div id="indexdivid1o2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, ipsam! Voluptatibus incidunt odio cupiditate magnam et est dolorem sed nisi. Nobis blanditiis nostrum, iste repellendus enim corrupti iure accusantium est.
        Fuga ad possimus similique quibusdam in, eligendi minima voluptatem dignissimos eveniet repellat itaque quaerat nostrum! Nisi suscipit sint quae omnis voluptas rem quidem minima sit esse optio, aperiam ipsam fugit?
        Commodi doloribus magni repellendus temporibus ipsa quibusdam et mollitia! Doloremque esse aliquid reprehenderit illo corporis, aspernatur illum officiis excepturi provident dolorem ea eius praesentium magnam et modi rerum laboriosam. Commodi.
        Sed in recusandae, ut rerum doloribus molestiae assumenda unde! In, quos deleniti! Amet pariatur totam debitis molestias, voluptatum commodi deleniti expedita rem! Error sint impedit ex neque saepe? Ad, itaque?
        Similique velit blanditiis officiis iure voluptas, nihil nisi? Pariatur alias quidem fugit unde eaque voluptas ut, blanditiis illum reiciendis itaque aperiam at molestiae nulla sed quo, dicta aliquid fuga neque.</div>
    </div>
    <div class="trash1"></div>
    <div id="indexdivid2">
       
        <div id="indexdivid2o2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, ipsam! Voluptatibus incidunt odio cupiditate magnam et est dolorem sed nisi. Nobis blanditiis nostrum, iste repellendus enim corrupti iure accusantium est.
        Fuga ad possimus similique quibusdam in, eligendi minima voluptatem dignissimos eveniet repellat itaque quaerat nostrum! Nisi suscipit sint quae omnis voluptas rem quidem minima sit esse optio, aperiam ipsam fugit?
        Commodi doloribus magni repellendus temporibus ipsa quibusdam et mollitia! Doloremque esse aliquid reprehenderit illo corporis, aspernatur illum officiis excepturi provident dolorem ea eius praesentium magnam et modi rerum laboriosam. Commodi.
        Sed in recusandae, ut rerum doloribus molestiae assumenda unde! In, quos deleniti! Amet pariatur totam debitis molestias, voluptatum commodi deleniti expedita rem! Error sint impedit ex neque saepe? Ad, itaque?
        Similique velit blanditiis officiis iure voluptas, nihil nisi? Pariatur alias quidem fugit unde eaque voluptas ut, blanditiis illum reiciendis itaque aperiam at molestiae nulla sed quo, dicta aliquid fuga neque.</div>
        <div id="indexdivid2o1"></div>
    </div>
    </div>
    <div class="trash1"></div>
    <div id="indexdivid3">
        <div id="indexdivid3o1"></div>
        <div id="indexdivid3o2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, ipsam! Voluptatibus incidunt odio cupiditate magnam et est dolorem sed nisi. Nobis blanditiis nostrum, iste repellendus enim corrupti iure accusantium est.
        Fuga ad possimus similique quibusdam in, eligendi minima voluptatem dignissimos eveniet repellat itaque quaerat nostrum! Nisi suscipit sint quae omnis voluptas rem quidem minima sit esse optio, aperiam ipsam fugit?
        Commodi doloribus magni repellendus temporibus ipsa quibusdam et mollitia! Doloremque esse aliquid reprehenderit illo corporis, aspernatur illum officiis excepturi provident dolorem ea eius praesentium magnam et modi rerum laboriosam. Commodi.
        Sed in recusandae, ut rerum doloribus molestiae assumenda unde! In, quos deleniti! Amet pariatur totam debitis molestias, voluptatum commodi deleniti expedita rem! Error sint impedit ex neque saepe? Ad, itaque?
        Similique velit blanditiis officiis iure voluptas, nihil nisi? Pariatur alias quidem fugit unde eaque voluptas ut, blanditiis illum reiciendis itaque aperiam at molestiae nulla sed quo, dicta aliquid fuga neque.</div>
    </div>
    </div>
    <div class="trash1"></div>
   
</main>









<footer id="indexfooterid">
 <div id="footerimg1">
    <img src="https://img.pikbest.com/origin/09/70/06/222pIkbEsTrCh.jpg!w700wp" style="height: 100px; width: 100px; border-radius: 50%;" alt="logo">
 </div>
 
</footer>
</body>
</html>