<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header id="headerid"></header>
<main id="mainid">
    <a href="cofee">cofee</a>
    <a href="meal">meals </a>
    <a href="deseert">desert</a>
</main>
<footer id="footerid"></footer>
</body>
</html>