<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thankyou</title>
    <style>
         body{
             
             background-image: url(../images/pexels-lina-1813466.jpg);
            
            background-position: 10%;
             font-size: xx-large;

             color: rgba(250, 104, 0, 0.941);
         }
    </style>
</head>
<body >
    <p >
      <center> thank you for your time</center> 
    </p>

</body>
</html>